@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.shadowItem {
  box-shadow: 15px 15px 30px #bebebe,
      -15px -15px 30px #ffffff;
}


.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.form-card {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.input-shadow {
  box-shadow: 0 0.4rem #dfd9d9;
}

.gradient-blue {
  background: hsla(217, 100%, 50%, 1);

  background: linear-gradient(315deg, hsla(217, 100%, 50%, 1) 0%, hsla(274, 66%, 66%, 1) 50%, hsla(186, 100%, 69%, 1) 100%);

  background: -moz-linear-gradient(315deg, hsla(217, 100%, 50%, 1) 0%, hsla(274, 66%, 66%, 1) 50%, hsla(186, 100%, 69%, 1) 100%);

  background: -webkit-linear-gradient(315deg, hsla(217, 100%, 50%, 1) 0%, hsla(274, 66%, 66%, 1) 50%, hsla(186, 100%, 69%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0061FF", endColorstr="#B06FE1", GradientType=1);
}

.gradient-violet {
  background: hsla(284, 65%, 37%, 1);

  background: linear-gradient(315deg, hsla(284, 65%, 37%, 1) 0%, hsla(259, 48%, 59%, 1) 48%, hsla(0, 0%, 0%, 1) 100%);

  background: -moz-linear-gradient(315deg, hsla(284, 65%, 37%, 1) 0%, hsla(259, 48%, 59%, 1) 48%, hsla(0, 0%, 0%, 1) 100%);

  background: -webkit-linear-gradient(315deg, hsla(284, 65%, 37%, 1) 0%, hsla(259, 48%, 59%, 1) 48%, hsla(0, 0%, 0%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#7A219A", endColorstr="#8566C9", GradientType=1);
}

.gradient-radial {
  background: hsla(354, 95%, 24%, 1);

  background: linear-gradient(90deg, hsla(354, 95%, 24%, 1) 0%, hsla(234, 70%, 24%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(354, 95%, 24%, 1) 0%, hsla(234, 70%, 24%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(354, 95%, 24%, 1) 0%, hsla(234, 70%, 24%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#76030f", endColorstr="#121b67", GradientType=1);
}

.gradient-skyblue {
  background: hsla(221, 45%, 73%, 1);

  background: radial-gradient(circle, hsla(221, 45%, 73%, 1) 0%, hsla(220, 37%, 55%, 1) 50%, hsla(220, 78%, 29%, 1) 100%);

  background: -moz-radial-gradient(circle, hsla(221, 45%, 73%, 1) 0%, hsla(220, 37%, 55%, 1) 50%, hsla(220, 78%, 29%, 1) 100%);

  background: -webkit-radial-gradient(circle, hsla(221, 45%, 73%, 1) 0%, hsla(220, 37%, 55%, 1) 50%, hsla(220, 78%, 29%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#9bafd9", endColorstr="#637FB7", GradientType=1);
}

.gradient-green {
  background: hsla(139, 72%, 83%, 1);

  background: linear-gradient(225deg, hsla(139, 72%, 83%, 1) 0%, hsla(206, 54%, 69%, 1) 40%, hsla(229, 89%, 62%, 1) 100%);

  background: -moz-linear-gradient(225deg, hsla(139, 72%, 83%, 1) 0%, hsla(206, 54%, 69%, 1) 40%, hsla(229, 89%, 62%, 1) 100%);

  background: -webkit-linear-gradient(225deg, hsla(139, 72%, 83%, 1) 0%, hsla(206, 54%, 69%, 1) 40%, hsla(229, 89%, 62%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#b6f3c9", endColorstr="#86B6DB", GradientType=1);
}

.gradient-grey {
  background: hsla(260, 28%, 53%, 1);

  background: linear-gradient(90deg, hsla(260, 28%, 53%, 1) 0%, hsla(170, 42%, 71%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(260, 28%, 53%, 1) 0%, hsla(170, 42%, 71%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(260, 28%, 53%, 1) 0%, hsla(170, 42%, 71%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#7c65a9", endColorstr="#96d4ca", GradientType=1);
}